.flex-grow {
    flex: 1 1;
}

body {
    height: 100vh;
}

.container-fluid {
    height: 100%;
    box-sizing: border-box;
}

.container-fluid>.row {
    height: 100%;
}

.container-fluid>.row > div {
    height: 100%;
}

#chatroom {
    height: calc(100% - 92px);
    overflow: auto;
}
